# --- Basic Utilities ---
numpy<2.0.0
h5py
imageio[ffmpeg]
tqdm
einops
wandb 

# --- Framework & Config ---
hydra-core>=1.2
hydra-colorlog
omegaconf

# --- Version Fixes for Python 3.8 Compatibility ---
diffusers<0.31.0
transformers<4.45.0
peft==0.13.2

# --- Simulation & Robotics ---
robosuite==1.4.1
robomimic
mujoco>=3.1.0
