name: multitask_image_vcot

shape_meta: &shape_meta
  obs:
    agentview_image: {shape: [3, 84, 128], type: rgb}
    robot0_eef_pos: {shape: [3]}
    robot0_eef_quat: {shape: [4]}
    robot0_gripper_qpos: {shape: [2]}
  action: {shape: [7]}

dataset_shape_meta: &dataset_shape_meta
  obs:
    agentview_image: {shape: [3, 84, 128], type: rgb}
    robot0_eef_pos: {shape: [3]}
    robot0_eef_quat: {shape: [4]}
    robot0_gripper_qpos: {shape: [2]}
    subgoal: {shape: [3, 84, 128], type: rgb}
  action: {shape: [7]}

dataset:
  _target_: diffusion_policy.dataset.vcot_multitask_dataset.VCoTMultitaskDataset
  file_paths: 
    - /workspace/data/lift/ph/image.hdf5
    - /workspace/data/can/ph/image.hdf5
    - /workspace/data/square/ph/image.hdf5
    - /workspace/data/play_data/play_lift.hdf5
    - /workspace/data/play_data/play_can.hdf5
    - /workspace/data/play_data/play_nutassemblysquare.hdf5
    - /workspace/data/play_data/play_pickplacecan.hdf5
  n_obs_steps: 2
  horizon: 16
  max_subgoal_dist: 50
  subgoal_drop_prob: 0.2
  shape_meta: *dataset_shape_meta
  val_ratio: 0.02
  seed: 42

env_runner:
  _target_: diffusion_policy.dataset.vcot_multitask_dataset.DummyRunner
  dataset_path: /workspace/data/lift/ph/image.hdf5
  shape_meta: *shape_meta
  n_train: 0
  n_train_vis: 0
  n_test: 10
  n_test_vis: 4
  max_steps: 400
  n_obs_steps: 2
  n_action_steps: 8
  render_obs_key: 'agentview_image'
  fps: 10
